<div data-options="dxView : { name: 'Calendar', title: 'Kalendář' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxList: { dataSource: calendar, grouped: true }">
            <div data-options="dxTemplate: { name: 'group' }">
                <b><span data-bind="text: key"></span></b> (<span data-bind="text: countItems(items)"></span>)
            </div>
            <div data-options="dxTemplate: { name: 'item' }">
                <span data-bind="text: title, dxAction: '#herb-details/{id}'"></span>
            </div>
        </div>
    </div>
</div>