<div data-options="dxView : { name: 'Lists', title: 'Seznam' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxTabs: { dataSource: tabs, selectedIndex: selectedTab }"></div>
        <!-- ko if: selectedTab() == 0 -->
        <div data-bind="dxList: { dataSource: pharmacy }">
            <div data-options="dxTemplate : { name: 'item' }" data-bind="text: name, dxAction: '#pharmacy-details/{id}'"></div>
        </div>
        <!-- /ko -->
        <!-- ko if: selectedTab() == 1 -->
        <div data-bind="dxList: { dataSource: doctors }">
            <div data-options="dxTemplate : { name: 'item' }" data-bind="text: name, dxAction: '#doctor-details/{id}'"></div>
        </div>
        <!-- /ko -->
    </div>
</div>