<div data-options="dxView : { name: 'messages', title: 'Zpravodajství' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxScrollView: {}">
            <h1>PYLOVÁ SITUACE – 19. TÝDEN 2014</h1>

            <p>Pylová situace – 19. týden 2014<br />
            Platí: 5. 5. 2014 – 11. 5. 2014<br />
            Alergeny: traviny, jitrocel, šťovík, habr, javor, dub, buk, platan, ořešák<br />
            Stav: Začíná sezóna pylu travin.<br />
            Předpověď: V současné době stále dominují v ovzduší pyly méně agresivních pylů dřevin. S nástupem pylů travin počítejte i s pylem jitrocele a šťovíku.</p>
        </div>
	</div>
    </div>
</div>