<div data-options="dxView : { name: 'messages', title: 'Zpravodajství' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxScrollView: {}">
            <h1>PYLOVÁ SITUACE – 19. TÝDEN 2014</h1>

            <p><strong>Platí:</strong> 5. 5. 2014 – 11. 5. 2014<br />
            <strong>Alergeny:</strong> traviny, jitrocel, šťovík, habr, javor, dub, buk, platan, ořešák<br />
            <strong>Stav:</strong> Začíná sezóna pylu travin.<br />
            <strong>Předpověď:</strong> V současné době stále dominují v ovzduší pyly méně agresivních pylů dřevin. S nástupem pylů travin počítejte i s pylem jitrocele a šťovíku.</p>
        </div>
	</div>
    </div>
</div>