<div data-options="dxView : { name: 'messages', title: 'Zpravodajství' } " >
    <div  data-options="dxContent : { targetPlaceholder: 'content' } " >
        <div data-bind="dxScrollView: {}">
            <div style="padding: 15px">
                <h1 style="margin-bottom: 10px;">PYLOVÁ SITUACE – 19. TÝDEN 2014</h1>

            <p style="line-height: 25px; margin-bottom: 10px;"><strong>Platí:</strong> 5. 5. 2014 – 11. 5. 2014<br />
            <strong>Alergeny:</strong> traviny, jitrocel, šťovík, habr, javor, dub, buk, platan, ořešák<br />
            <strong>Stav:</strong> Začíná sezóna pylu travin.</p>
            <p><strong>Předpověď:</strong> V současné době stále dominují v ovzduší pyly méně agresivních pylů dřevin. S nástupem pylů travin počítejte i s pylem jitrocele a šťovíku.</p>
            </div>
        </div>
	</div>
    </div>
</div>